<div class="form-view">
    <div>
        <span>User Name</span>
        <input placeholder="User Name" ng-model="model.userName" type="text" />
    </div>
    <div>
        <span>Email</span>
        <input placeholder="Email" type="text" ng-model="model.email"/>
    </div>
    <div>
        <span>Password</span>
        <input placeholder="Password" type="password" ng-model="model.password" />
    </div>
    <div>
        <span>Confirm Password</span>
        <input placeholder="Confirm Password" type="password" ng-model="model.confirmPassword"/>
    </div>
    <input type="submit" value="Submit" ng-click="submit(model)" />
</div>